{% extends "includes/wrapper.html" %}

{% block title %}
Сброс пароля
{% endblock %}

{% block content %}
<h2>Сброс пароля</h2>
    {% if validling %}
    <p>Пожалуйста введите новый пароль дважды:</p>
    <form action="." method="post">{% csrf_token %}
        {{ form.as_p }}
        <p><input type="submit" value="Изменить пароль" /></p>
    </form>
    {% else %}
        <p>Ссылка не верна, возможно она была уже использована.
        Пожалуйста, попробуйте восстановить пароль еще раз</p>
    {% endif %}
{% endblock %}