{% extends "includes/wrapper.html" %}

{% block title %}
Изменить учетную запись
{% endblock %}

{% block content %}
<h2>Управление учетной записью: </h2>
<h4><p>Учетная запись: </p></h4>
<p>Владелец учетной записи: {{ user.username }} </p>
<p>Email: {{ user.email }} </p>
<p>Язык: <input type="button" value="RU"> </p>
<p><a href="additional_info/"><input type="button" value="Изменить"></a></p>

<h4>Безопасность: </h4>

<a href="password-change/"><input type="button" value="Сменить пароль"></a>
{% endblock %}